{% extends "main/base.html" %}
{% load bootstrap3 %}
{% block title %}PieCon | Forgot Password{% endblock title %}

{% block header %}
  <h2>Forgot password</h2>
{% endblock header %}

{% block content %}
  <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">Reset my password</button>
    {% endbuttons %}
  </form>
{% endblock content %}