{% extends "main/base.html" %}
{% block title %}PieCon | My Settings {% endblock title %}
{% load bootstrap3 %}

{% block header %}
  <h2>Change Password</h2>
{% endblock header %}

{% block content %}

{% if messages %}
  <div class="alert alert-warning">
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">Save changes</button>
  {% endbuttons %}
</form>

{% endblock content %}


