{% extends "main/base.html" %}
{% load bootstrap3 %}
{% block title %}PieCon | Login{% endblock title %}

{% block content %}
<br><br>

  <div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            &nbsp;Login</h3>
        </div>
        <div class="panel-body">
          <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
              <button name="submit" class="btn btn-primary">Login</button>
            {% endbuttons %}
            <input type="hidden" name="next" value="{% url 'main:index' %}" />
          </form>
        </div>
      </div>
      <p class="text-left">
        <a href="#">Forgot password</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#">Make an account</a>
      </p>
    </div>

    <div class="col-md-4">
    </div>
  </div>
{% endblock content %}
