{% extends "main/base.html" %}
{% block title %}PieCon | Create Account{% endblock title %}
{% block new_account_active %}active{% endblock %}
{% load bootstrap3 %}

{% block header %}
  <h2>Create a new account</h2>
  <p>Create an account on the PieCon site and you'll be able to edit the games
    and pies you sign up to bring!</p>
{% endblock header %}

{% block content %}
  <form method="post" action="{% url 'users:new_account' %}" class="form">
    {% csrf_token %}

    {% bootstrap_form form %}

    {% buttons %}
      <button name="submit" class="btn btn-primary">Register</button>
    {% endbuttons %}

    <input type="hidden" name="next" value="{% url 'main:index' %}" />
  </form>

{% endblock content %}
