{% extends 'main/base.html' %}
{% block title %}PieCon | About{% endblock title %}

{% block header %}
  <h2>About</h2>
{% endblock header %}

{% block content %}
<h3>What is PieCon?</h3>
<p>PieCon is the Central Coast of California's premiere gaming and pie-eating
  convention. Ok, convention might actually be too strong a word. It's held at
  someone's house, so it can't get too crazy. So let's go with event. Yeah, the
  Central Coast of California's premiere game and pie-eating event. That's
  probably true.</p>

<p>In any case, it's where a bunch of friends that love gaming get together for
  a fun-filled, non-stop weekend of gaming. That's Role Playing Games, card
  games, board games, and even sometimes LARPs. Plus there's pie. Lots of pie.
  Play some games and bring a pie. That's our motto. Because when you've got a
  non-stop weekend of gaming, you've gotta eat something. And why not pie?
  Well, besides the obvious reason that it's not very good for you. But really,
  it's only one weekend a year - live a little, will ya! (But seriously, maybe
  bring a few healthy treats too, ok? Best to not have us all die of
  malnutrition...)</p>

<p>PieCon is now in its 15th year of being a formal, annual event, which is
  actually kind of shocking when you consider that it basically got started as
  kind of a joke. What's that you say? How did it get started? Funny you
  should ask...</p>

<h3>History</h3>

<p>PieCon was born when several of us travelled up to Dundracon back in the
  year 2001, didn't get into most games we wanted (because their automated game
  sign-up computer system is the devil, or at least it was at the time), and we
  mostly just ended up hanging out together while eating pies from the local
  Marie Callendar's and running some games of our own. We realized it was kind
  of silly to drive 100's of miles away and pay someone else money, just so we
  could hang out together and eat pies; so we started to plan our own "con".</p>

<p>But before becoming a convention, the original idea was actually limited to
  just being a role-playing game where hit points were tracked by slices of
  pie. Each time you took damage, you ate some pie. This first "piecon event"
  was actually run by the sadistic Joel Butler during PolyCon XIX in 2001.
  (There was a dragon made of rice crispy treats, and many a bloated gamer
  learned to hate CostCo pies.)</p>

<p>After that crazy PieCon game, things just kind of took off from there, and
  eventually, a full weekend event was put together. (And now do you see why
  it's called PieCon?)</p>

{% endblock content %}
