{% extends 'main/base.html' %}
{% block title %}PieCon | About{% endblock title %}
{% block about_active %}active{% endblock %}

{% block header %}
  <h2>About</h2>
{% endblock header %}

{% block content %}
<h3>What is PieCon?</h3>
<p>PieCon is the Central Coast of California's premiere gaming and pie-eating
  convention. Ok, convention might actually be too strong a word. It's held at
  someone's house, so it can't get too crazy. So let's go with event. Yeah, the
  Central Coast of California's premiere game and pie-eating event. That's
  probably true.</p>

<p>In any case, it's where a bunch of friends that love gaming get together for
  a fun-filled, non-stop weekend of gaming. That's Role Playing Games, card
  games, board games, and even sometimes LARPs. Plus there's pie. Lots of pie.
  Play some games and bring a pie. That's our motto. Because when you've got a
  non-stop weekend of gaming, you've gotta eat something. And why not pie?
  Well, besides the obvious reason that it's not very good for you. But really,
  it's only one weekend a year - live a little, will ya! (But seriously, maybe
  bring a few healthy treats too, ok? Best to not have us all die of
  malnutrition...)</p>

<p>PieCon is now in its 16th year of being a formal, annual event, which is
  actually kind of shocking when you consider that it basically got started as
  kind of a joke. What's that you say? How did it get started? Funny you
  should ask...</p>

<h3>History</h3>

<p>PieCon was born when several of us travelled up to Dundracon back in the
  year 2001, didn't get into most games we wanted (because their automated game
  sign-up computer system is the devil, or at least it was at the time), and we
  mostly just ended up hanging out together while eating pies from the local
  Marie Callendar's and running some games of our own. We realized it was kind
  of silly to drive 100's of miles away and pay someone else money, just so we
  could hang out together and eat pies; so we started to plan our own "con".</p>

<p>But before becoming a convention, the original idea was actually limited to
  just being a role-playing game where hit points were tracked by slices of
  pie. Each time you took damage, you ate some pie. This first "piecon event"
  was actually run by the sadistic Joel Butler during PolyCon XIX in 2001.
  (There was a dragon made of rice crispy treats, and many a bloated gamer
  learned to hate CostCo pies.)</p>

<p>After that crazy PieCon game, things just kind of took off from there, and
  eventually, a full weekend event was put together. (And now do you see why
  it's called PieCon?)</p>

<h3>FAQ</h3>
<h4>Do I have to bring a pie?</h4>
<p>No, just come and have a good time.</p>
</br>
<h4>Do I have to run a game?</h4>
<p>No, just come and have a good time.</p>
</br>
<h4>Do I have to play in a game?</h4>
<p>No, just come and have a good time. (Although games are fun, you should
  totally try one.)</p>
</br>
<h4>How many games can I run?</h4>
<p>While we love to see people running games, keep in mind that PieCon is a
  small event and if there are <em>too</em> many games, some would be unlikely
  to run. We recommend a maximum of 10 hours per GM.</p>
</br>
<h4>Can I bring something to eat other than pie?</h4>
<p>Absolutely.</p>
</br>
<h4>Children?</h4>
<p>
  Unlike last year, there will be no childcare on site. If you have a tiny baby
  you may bring them with you as long as you are supervising them the whole
  time. Please do not bring toddlers through pre-teens. The house and yard are
  not childproofed and no one is around to monitor them. If your child is old
  and mature enough to play games with adults, they are welcome to attend. Send
  an email to the
  <a href="https://groups.google.com/forum/#!forum/piecon" target="_blank">
  PieCon list</a> if you want to arrange off-site child care with other parents.
</p>
</br>
<h4>Can I get one of this year's cool PieCon shirts?</h4>
<p>You sure can!
  <a href="https://groups.google.com/forum/#!forum/piecon" target="_blank">Join
    the mailing list</a> and talk to Amanda Lore Carpenter on how to order
    one.</p>
</br>
<h4>Parking?</h4>
<p>Spaces are limited in front of the house, please park down by the school on
  9th and Santa Maria streets. You may park in the driveway to drop off stuff or
  passengers, but then move your car down to the school. Please do not park
  along the barrier across 9th Street, it blocks the neighbors in.</p>
</br>
<h4>Bringing Friends?</h4>
<p>You are welcome to bring your gamer friends with you, but please keep in mind
  that they may not know anyone. If you bring a friend, we hope you will game
  with them, introduce them to your friends, and make sure they are having a
  good time.</p>
</br>
<h4>Hours?</h4>
<p>Friday 5 PM through Sunday 5 PM. Please keep in mind that there are neighbors
  and the household residents need sleep too, so any late gaming (after 10 PM)
  needs to be inside and quiet-ish. Gaming on Saturday and Sunday morning
  doesn't usually pick up until after 10 or so.</p>
</br>
<h4>Why am I only finding out about this now?</h4>
<p>You could have found out weeks ago if you were on the PieCon mailing list.
  <a href="https://groups.google.com/forum/#!forum/piecon" target="_blank">Sign
    up for the google group</a> right now!</p>
<br>

{% endblock content %}
