{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%}PieCon{% endblock title %}</title>
    {% load staticfiles %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}"/>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'main:index' %}">PieCon</a></li>
        </div><!-- end navbar header -->

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'main:games' %}">Games</a></li>
            <li><a href="{% url 'main:pies' %}">Pies</a></li>
            <li><a href="{% url 'main:volunteer' %}">Volunteer</a></li>
            <li><a href="{% url 'main:about' %}">About</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><p class="navbar-text">Hello, {{ user }}</p></li>
              <li><a href="{% url 'users:logout' %}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                Logout</a></li>
            {% else %}
              <li>
                <a href="{% url 'users:new_account' %}">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                  Create Account
                </a>
              </li>
              <li>
                <a href="{% url 'users:login' %}">
                  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                  Login
                </a>
              </li>
            {% endif %}
          </ul>

        </div><!-- /.nav-collapse -->

      </div>
    </nav>

    <div class="container">
      <div class="page-header">
        {% block header %} {% endblock header %}
      </div>
    </div>

    <div class="container">
      {% block content %} {% endblock content %}
    </div>
  </body>

  <footer class="footer">
    <div class="container">
      <span>
        Site designed and built by <strong>Brian J. Matis</strong><br>
        &copy; 2004 - {% now 'Y' %} PieCon Committee
        </span>
    </div>
  </footer>
</html>
