{% extends 'main/base.html' %}
{% block title %}PieCon | Games{% endblock title %}
{% block games_active %}active{% endblock %}

{% block header %}
  <h2>Game Registry</h2>
{% endblock header %}

{% block content %}

{% if games.count == 0 %}
  <p>No games registered yet...</p>
{% else %}
  <p>{{ games.count }} game{{ games.count|pluralize }} registered!</p>
{% endif %}

  {% for game in games %}
    <div class='gameDescription'>
      <h4>{{ game.title }}</h4>
      <p class='meta'>Gamemaster: <strong>{{ game.gamemaster }}</strong> -
        System: <strong>{{ game.system }}</strong> -
        Players: <strong>{{ game.num_players }}</strong> -
        Length: <strong>5 hour(s)</strong></p>
      <p>{{ game.description|linebreaks }}
      </p>
    </div>
  {% endfor %}

{% endblock content %}
