{% extends 'main/base.html' %}
{% block title %}PieCon | Games{% endblock title %}
{% block content %}

<h1>Games</h1>
{% if games.count == 0 %}
  <p>No games registered yet...</p>
{% elif games.count == 1 %}
  <p>{{ games.count }} game registered!</p>
{% elif games.count > 1 %}
  <p>{{ games.count }} games registered!</p>
{% endif %}

<ul>
  {% for game in games %}
    <li>
      <p><strong>{{ game.title }}</strong></p>
      <p>Run by: {{ game.gamemaster }}</p>
      <p>System: {{ game.system }}</p>
      <p>Number of Player: {{ game.num_players }}</p>
      <p>Length: {{ game.length }} hour(s)</p>
      <p>Description:</p>
      <p>{{ game.description }}</p>
    </li>
  {% endfor %}
</ul>

{% endblock content %}
