{% extends 'main/base.html' %}
{% block title %}PieCon | Games{% endblock title %}
{% block games_active %}active{% endblock %}

{% block header %}
  <h2>Games</h2>
  <p>As usual, we need games. Feel free to peruse the current list of
    registered games, and be sure to register your game today! (If you don't,
    Pie'thulhu will be angry... Do not anger Pie'thulhu!) <em>*Alright... if you
    don't want to run a game, you can <a href="{% url 'main:pies' %}">bring a
    pie instead!</a></em>
  </p>
  <h3><a href="{% url 'main:new_game' %}" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Register a new game!
  </a></h3>
{% endblock header %}

{% block content %}

<h3>Game Registry</h3>
{% if games.count == 0 %}
  <p>No games registered yet...</p>
{% else %}
  <p>{{ games.count }} game{{ games.count|pluralize }} registered!</p>
{% endif %}

  {% for game in games %}
    <div class='gameDescription'>
      <h4>{{ game.title }}</h4>
      <p class='meta'>Gamemaster: <strong>{{ game.gamemaster }}</strong> -
        System: <strong>{{ game.system }}</strong> -
        Players: <strong>{{ game.num_players }}</strong> -
        Length: <strong>{{ game.length }} hour(s)</strong></p>
      <p>{{ game.description|linebreaks }}
      </p>
      {% if game.owner == request.user %}
      <a class="btn btn-primary btn-xs" href="{% url 'main:edit_game' game.id %}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        edit</a></li>
      {% endif %}
    </div>
  {% endfor %}

{% endblock content %}
