{% extends 'main/base_custom.html' %}
{% block title %}PieCon | Home{% endblock title %}
{% load staticfiles %}

{% block page %}
<div id="hero">
  <div class="container">
    <div id="hero-title">

      <h1>PieCon {{ current_con.start_date.year }} Gaming Weekend</h1>
      <h3>{{ current_con.description }}</h3>
      <!--<h2><strong>{{ current_con.date_range_short }}</strong></h2>-->
      <h2><strong>POSTPONED - DATE TBD!</strong></h2>
      <br />
      <div id="call-to-action">
        <a href="{% url 'main:games' %}" class="btn btn-primary btn-lg">View the Games!</a>
        &nbsp;
        <a href="{% url 'main:pies' %}" class="btn btn-warning btn-lg">See the Pies!</a>
      </div> <!-- end call to action -->

    </div> <!-- end hero title -->
    <section class="visible-md visible-lg">
      <img src="{% static 'main/images/dragon.png' %}" height="380" alt="Scary Dragon" id="hero-image">
    </section>
  </div> <!-- end container -->
</div><!-- end hero -->

<div id="content" class="container">
  <div id="lead-in">
    <h2>PieCon {{ current_con.start_date.year }} Gaming Weekend</h2>
      <p class="lead">Our goal for PieCon is to have a low-stress, inexpensive gaming weekend with a community of new and old gamers that we consider friends. Because friendship is magic. And then we cast magic missile.</p>
  </div> <!-- end lead-in -->

  <div class="row">
    <div class="col-md-4">
      <img src="{% static 'main/images/d_and_d.jpg' %}" width="300" height="200" alt="Dungeons and Dragons 5th Edtion Starter Set">
      <h4>Who</h4>
      <p>YOU and YOUR FRIENDS are invited to PieCon! Which friends? The ones who game in any way, shape or fashion; the ones you like, and the ones who would have fun in a community of gamers. We don't need to know them; your good taste is enough for us.</p>
    </div> <!-- end column -->

    <div class="col-md-4">
      <img src="{% static 'main/images/dmg.jpg' %}" width="300" height="200" alt="Dungeons and Dragons 5th Edtion DMG">
      <h4>When</h4>
      <p>THIS YEAR'S PIECON IS TEMPORARILY POSTPONED! DATE TBD! STAY TUNED!
      <!--<p>This year's PieCon will be held from <strong>{{ current_con.date_range_long }}</strong>. Games will start {{ current_con.start_date | date:"l" }} evening at 5pm and go until 5pm {{ current_con.end_date | date:"l" }}. You may attend for all or part of PieCon, whatever you like.</p>-->
    </div> <!-- end column -->

    <div class="col-md-4">
      <a href="https://goo.gl/maps/bXMV7r2FNxy" target="_blank"><img src="{% static 'main/images/map.png'%}" width="300" height="200" alt="Map thumbnail image"></a>

      <h4>Where</h4>
      <p>PieCon will take place at Titan:<br /><strong><a href="https://goo.gl/maps/bXMV7r2FNxy" target="_blank">1251 9th Street, Los Osos, CA 93402</a></strong></p>

    </div> <!-- end column -->
  </div>
</div><!-- end content -->
<br />

{% endblock page %}
