{% extends "main/base.html" %}
{% block title %}PieCon | New Pie{% endblock title %}
{% block pies_active %}active{% endblock %}

{% load bootstrap3 %}

{% block header %}
  <h2>Add a new pie</h2>
{% endblock header %}

{% block content %}
  <form action="{% url 'main:new_pie' %}" method='post' class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <button name="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        &nbsp;Add Pie
      </button>
      <a name='cancel' class="btn btn-danger"
        href="{% url 'main:pies' %}">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        &nbsp;Cancel</a>
    {% endbuttons %}
  </form>

{% endblock content %}
