{% extends "main/base.html" %}
{% block title %}PieCon | New Pie{% endblock title %}
{% block pies_active %}active{% endblock %}

{% load bootstrap3 %}

{% block header %}
  <h2>Add a new pie</h2>
{% endblock header %}

{% block content %}
<p><strong>{{user}}</strong> is bringing:</p>
  <form action="{% url 'main:new_pie' %}" method='post' class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <button name="submit" class="btn btn-primary">Add Pie</button>
    {% endbuttons %}
  </form>

{% endblock content %}
