{% extends 'main/base.html' %}
{% block title %}PieCon | Pies{% endblock title %}
{% block pies_active %}active{% endblock %}

{% block header %}
  <h2>Pie Registry</h2>
  <h3><a href="{% url 'main:new_pie' %}" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Register a new pie
  </a></h3>
{% endblock header %}

{% block content %}

{% if pies.count == 0 %}
  <p>No pies registered yet...</p>
{% else %}
  <p>{{ pies.count }} pie{{ pies.count|pluralize }} registered!</p>
{% endif %}

<ul>
  {% for pie in pies %}
    <li><strong>{{pie.owner}}</strong> is bringing <strong>{{pie}}</strong>!
    {% if pie.owner == request.user %}
    <a href="{% url 'main:edit_pie' pie.id %}">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      edit</a></li>
    {% endif %}
  {% endfor %}
</ul>

{% endblock content %}
