{% extends 'main/base.html' %}
{% block title %}PieCon | Volunteer{% endblock title %}

{% block header %}
  <h2>Volunteer</h2>
{% endblock header %}

{% block content %}
<p>Want to be in the know? Want to have your fingers in all the pies? Want to
  make decisions from behind a dark curtain and go "mua ha ha" while everyone
  else looks around and says "what's that sound"? Be part of the Star Chamber
  and help PieCon get things done.</p>
<p>To learn more, contact Amanda at
  <a href="mailto:amanda@punk.net">amanda@punk.net</a></p>

{% endblock content %}
